################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/obj
/.vs/PruebaSolution/v15/Server/sqlite3
/DataEntities/obj
/DataInterfaces/obj
/ServiceRate/obj
/ServiceRateInterfaces/obj
/ServiceTransaction/obj
/ServiceTransactionInterface/obj
/ServiceUtils/obj
/ServiceUtilsInterface/obj
/UnitTest/obj
/WebApi/obj
/.vs/PruebaSolution/v15
/ServiceTransaction/bin/Debug/netstandard2.0
/ServiceTransactionInterface/bin/Debug/netstandard2.0
/ServiceUtils/bin/Debug/netstandard2.0
/ServiceUtilsInterface/bin/Debug/netstandard2.0
/UnitTest/bin/Debug/netcoreapp2.1
/WebApi/bin/Debug/netcoreapp2.1
/ServiceRateInterfaces/bin/Debug/netstandard2.0
/ServiceRate/bin/Debug/netstandard2.0
/Data_EF/obj
/Data_EF/bin/Debug/netcoreapp2.1
/Data/bin/Debug/netstandard2.0
/DataEntities/bin/Debug/netstandard2.0
/DataInterfaces/bin/Debug/netstandard2.0
/.vs/config
/.vs/PruebaSolution/DesignTimeBuild
/DataInterfaces_EF/bin/Debug/netstandard2.0
/DataInterfaces_EF/obj
/Data_EF/bin/Debug/netcoreapp2.0
/ServiceRate/bin/Debug/netcoreapp2.0
/ServiceRateInterfaces/bin/Debug/netcoreapp2.0
/ServiceTransactionInterface/bin/Debug/netcoreapp2.0
/ServiceUtils/bin/Debug/netcoreapp2.0
/ServiceUtilsInterface/bin/Debug/netcoreapp2.0
/ServiceTransaction/bin/Debug/netcoreapp2.0
/UnitTest/bin/Debug/netcoreapp2.0
/WebApi/Logs
/XUnitTest/bin/Debug/netcoreapp2.1
/XUnitTest/obj
